html, body, div, span, applet, object, iframe{
    vertical-align: baseline;
    display: inline-block;
    text-align: center;
    padding: 0;
    border: 0;
    margin: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, div {
    display: inline-block;
}

html, body{ height: 100%; }

*,
*::before,
*::after {
    -moz-box-sizing: border-box; 
     box-sizing: border-box;
}

body {
    background-position: center center;
    background-color: $bg_color;
    background-size: cover;

    font-family: sans-serif;
    color: $text_color;
    line-height: 1.5;
    font-size: 14px;

    min-height: 100%;
    display: table;
    height: 100%;
    width: 100%; 

    &.no-scroll{
        overflow: hidden;
    }
}


.no-scroll {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: $link_color;

    &:hover{
        text-decoration: underline;
    }
}

.container{
    position: relative;
    max-width: 1150px;
    text-align: left;
    margin: 0 auto;
    width: 90%;
}

.center-align{
    display: table-cell;
    vertical-align: middle;
}

.btn-primary {
    color: #ffffff;
    font-size: 16px;
    display: inline-block;
    height: 44px;
    position: relative;
    line-height: 40px;
    text-align: center;
    min-width: 220px;
    padding: 0 40px;
    transition: background .3s ease-out;
    border-radius: 25px;
    background: $primary-color;
    z-index: 5;

    &:hover {
        background: $primary-color-hover;
        color: #ffffff;
        text-decoration: none;
    }

    &:active, &:focus {
        background: $primary-color-hover;
        color: #ffffff;
        text-decoration: none;
    }
}

.btn-secondary {
    color: #ffffff;
    font-size: 16px;
    border: 2px solid #ffffff;
    display: inline-block;
    height: 44px;
    position: relative;
    line-height: 40px;
    text-align: center;
    min-width: 180px;
    width: 370px;
    padding: 0 40px;
    transition: background .3s ease-out;
    border-radius: 25px;
    z-index: 10;

    &:hover {
        background: $primary-color-hover;
        border: 2px solid $primary-color-hover;
        color: #ffffff;
        text-decoration: none;
    }

    &:active, &:focus {
        background: $primary-color;
        border: 2px solid $primary-color;
        color: #ffffff;
        text-decoration: none;
    }
}

.btn-third {
    color: $primary_color;
    font-size: 16px;
    display: inline-block;
    height: 44px;
    position: relative;
    line-height: 40px;
    text-align: center;
    min-width: 180px;
    padding: 0 40px;
    transition: background .3s ease-out;
    border-radius: 25px;
    background: #ffffff;

    &:hover {
        background: $primary-color-hover;
        color: #ffffff;
        text-decoration: none;
    }

    &:active, &:focus {
        background: $primary-color;
        color: #ffffff;
        text-decoration: none;
    }
}

.btn-forth {
    color: $primary_color;
    font-size: 16px;
    display: inline-block;
    height: 44px;
    position: relative;
    line-height: 38px;
    text-align: center;
    padding: 0 55px 0 40px;
    transition: background .3s ease-out;
    border-radius: 25px;
    background: #f9fafb;
    border: 2px solid $primary_color;

    &:hover {
        background: #ffffff;
        text-decoration: none;
    }

    &:active, &:focus {
        background: $primary-color;
        color: #ffffff;
        text-decoration: none;
    }

    i {
        &.renault-button-arrow {
            border-color: $primary-color;
        }

    }
}

i {
    &.renault-button-arrow {
        border: solid #fff;
        border-width: 0 2px 2px 0;
        display: inline-block;
        width: 8px;
        height: 8px;
        position: absolute;
        top: 2px;
        bottom: 0;
        margin: auto;
        -webkit-transform-origin: right;
        transform-origin: right;
        -webkit-transform: rotate(-45deg) translateY(-50%);
        transform: rotate(-45deg) translateY(-50%);
        right: 30px;
    }
}
