html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, fieldset, form, label,
legend, caption, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, ul, li {
    vertical-align: baseline;
    font-size: 100%;
    font: inherit;
    padding: 0;
    border: 0;
    margin: 0;
    font-style: normal;
}

ul, li {
    list-style: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html, body{ height: 100%; }

*,
*::before,
*::after {
    -moz-box-sizing: border-box;
     box-sizing: border-box;
}

.clearfix{
    display:inline-block;
    width:100%;
    height:75px;
    float:left;
}