/* =============================================================================
    o   DISCLAIMER
============================================================================= */


.cookie_disclaimer{
	@include animate(1s, slideInDown);
	display: inline-block;
	background: #ccc;
	width: 100%;


	@media only screen and (max-width: 820px) {
		padding-bottom: 15px;

		.container{
			text-align: center;
		}
	}

	p{
		display: inline-block;
		width: calc(100% - 250px);
		float: left;

		@media only screen and (max-width: 820px) {
			text-align: left;
			width: 100%;
		}

		@media only screen and (max-width: 360px) {
			font-size: 14px;
		}
	}

	a.accept_terms{
		display: inline-block;
		padding: 10px 15px;
		margin-top: 15px;
		background: red;
		float: right;
		color: #fff;

		@include border-radius(3px);

		&:hover{
			text-decoration: none;
			background: darken(red, 5%);
		}

		@media only screen and (max-width: 820px) {
			margin-top: 0;
			float: none;
		}

		@media only screen and (max-width: 360px) {
			padding: 15px;
			width: 100%;
		}
	}
}