/* =============================================================================
    o   TYPOGRAPHY
============================================================================= */


h1{
	display: inline-block;
    font-size: 42px;
    width: 100%;

    @media only screen and (max-width: 710px) {}
}

h2{
	display: inline-block;
    font-size: 26px;
    margin-top: 0;
    width: 100%;

    @media only screen and (max-width: 710px) {}
}

h3{
	display: inline-block;
    font-size: 20px;
    margin-top: 0;
    width: 100%;

    @media only screen and (max-width: 710px) {}
}

h4{
	display: inline-block;
    font-size: 18px;
    margin-top: 0;
    width: 100%;

    @media only screen and (max-width: 710px) {}
}

h5{
	display: inline-block;
    font-size: .83em;
    margin-top: 0;
    width: 100%;

    @media only screen and (max-width: 710px) {}
}

p{
	display: inline-block;
	font-size: 16px;
    width: 100%;

	strong, b{
		font-weight: bold;
	}

	i, em{
		font-style: italic;

		&.fa{
			font-weight: normal;
		}
	}
}

a {
	transition: all 300ms ease;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }

    &.read_more{
    	font-weight: 700;
    	border-bottom: 2px dashed #000;

    	&:hover{
    		text-decoration: none;
    	}
    }

    &.primary{
        display: inline-block;
        @include border-radius(3px);
        background: #000;
        text-align: center;
    	padding: 15px 35px;
        min-width: 200px;
    	color: #fff;
    	clear: both;
    	float: left;

    	&:hover{
    		text-decoration: none;
    		background: darken(red, 5%);
    		transform: scale(1.05);
    	}

    	@media only screen and (max-width: 360px) {
    		text-align: center;
			padding: 15px 0;
			width: 100%;
    	}
    }
}


/* =============================================================================
    o   RESPONSIVE
============================================================================= */


@media only screen and (max-width: 710px) {}