/**
 * Dacia new fonts
 */

@font-face {
  font-family: 'DaciaSpirit-Light';
  src: url('../fonts/dacia/DaciaSpirit-Light_V1200.eot');
  src: url('../fonts/dacia/DaciaSpirit-Light_V1200.eot?#iefix') format('embedded-opentype'),
  url('../fonts/dacia/DaciaSpirit-Light_V1200.woff2') format('woff2'),
  url('../fonts/dacia/DaciaSpirit-Light_V1200.woff') format('woff'),
  url('../fonts/dacia/DaciaSpirit-Light_V1200.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DaciaSpirit-Bold';
  src: url('../fonts/dacia/DaciaSpirit-Bold_V1200.eot');
  src: url('../fonts/dacia/DaciaSpirit-Bold_V1200.eot?#iefix') format('embedded-opentype'),
  url('../fonts/dacia/DaciaSpirit-Bold_V1200.woff2') format('woff2'),
  url('../fonts/dacia/DaciaSpirit-Bold_V1200.woff') format('woff'),
  url('../fonts/dacia/DaciaSpirit-Bold_V1200.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DaciaSpirit-Regular';
  src: url('../fonts/dacia/DaciaSpirit-Regular_V1200.eot');
  src: url('../fonts/dacia/DaciaSpirit-Regular_V1200.eot?#iefix') format('embedded-opentype'),
  url('../fonts/dacia/DaciaSpirit-Regular_V1200.woff2') format('woff2'),
  url('../fonts/dacia/DaciaSpirit-Regular_V1200.woff') format('woff'),
  url('../fonts/dacia/DaciaSpirit-Regular_V1200.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DaciaSpirit-Black';
  src: url('../fonts/dacia/DaciaSpirit-Black_V1200.eot');
  src: url('../fonts/dacia/DaciaSpirit-Black_V1200.eot?#iefix') format('embedded-opentype'),
  url('../fonts/dacia/DaciaSpirit-Black_V1200.woff2') format('woff2'),
  url('../fonts/dacia/DaciaSpirit-Black_V1200.woff') format('woff'),
  url('../fonts/dacia/DaciaSpirit-Black_V1200.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
