/* =============================================================================
    o   BLANK
============================================================================= */

#slider-info {
  background: rgba(255, 255, 255, 0.96);
  width: 500px;
  position: absolute;
  right: 0;
  top: 45%;
  z-index: 90;
  padding: 20px 0;
  display: none;
  margin-right: -20px;

  .slider-info {

    h6 {
      font-size: 24px;
      color: $primary_color;
      display: block;
      margin-bottom: 10px;
    }

    h5 {
      font-size: 24px;
      color: $primary_color;
      display: block;
      margin-bottom: 10px;
      margin-top: 30px;
    }

    ul {

      li {
        font-size: 14px;
        line-height: 25px;
        color: #606164;
        position: relative;
        padding: 0px 10px;

        &:before {
          position: absolute;
          top: 4px;
          margin: 8px 0 0 -12px;
          vertical-align: middle;
          display: inline-block;
          width: 5px;
          height: 5px;
          background: #0089cd;
          border-radius: 50%;
          content: "";
        }
      }
    }
  }
}

.close-slider {
  text-indent: -9999px;
  display: block;
  background: url('../images/close_slider.png') no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 10;
  right: 10px;
  top: 10px;
}

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-weight: bold;
  color: $primary_color;
  padding-top: 20px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: $primary_color;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: $primary-color-hover;
}
.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}


/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
  background: url('../images/scroll_down.png') no-repeat;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-left: -45px;
}

.bx-wrapper .bx-next {
  background: url('../images/scroll_down.png') no-repeat;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  margin-left: 45px;
}


.bx-wrapper .bx-controls-direction a {
  position: absolute;
  margin-top: -23px;
  outline: 0;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  z-index: 9999;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}


/* =============================================================================
    o   RESPONSIVE
============================================================================= */


@media only screen and (max-width: 1010px) {
  #slider-info {
    left: 0;
    right: 0;
    top: auto;
    bottom: 15%;
    margin: 0 auto;
    text-align: center;
  }
}

@media only screen and (max-width: 700px) {
  #slider-info {
    bottom: 25%;
    width: 450px;
  }
}

@media only screen and (max-width: 520px) {
  #slider-info {
    bottom: 25%;
    width: 350px;
  }
}

@media only screen and (max-width: 380px) {
  #slider-info {
    bottom: 25%;
    width: 300px;

    .slider-info {
      ul {
        li {
          line-height: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 340px) {
  #slider-info {
    bottom: 25%;
    width: 300px;
    margin-left: -5px;

    .slider-info {
      h5 {
        margin-top: 20px;
      }

      ul {
        li {
          line-height: 20px;
        }
      }
    }
  }
}