/* =============================================================================
    o   CONTENT
============================================================================= */

.content-wrapper {
  background: #ffffff;
  width: 100%;
  float: left;
  display: inline-block;
  position: relative;
  font-family: "DaciaSpirit-Regular";

  .road-map {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;

    img {
      width: 100%;
      height: auto;
      float: left;
    }
  }

  .container {
    &.section1 {
      margin-top: 120px;

      h1 {
        font-family: "DaciaSpirit-Black";
        font-size: 180px;
        line-height: 190px;
        position: absolute;
        margin-top: 0px;
        -webkit-animation:fadein 5s;

        em {
          background: linear-gradient(#cce7f5, #ecf6fb, #ffffff);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          display: block;
        }

        span {
          background: linear-gradient(#cce7f5, #ecf6fb, #fdfefe);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          display: block;
          text-align: right;
          position: relative;
          margin-top: -35px;
          margin-right: 100px;
        }
      }

      h2 {
        font-family: "DaciaSpirit-Light";
        font-size: 50px;
        line-height: 60px;
        color: #10314c;
        display: block;
        text-align: right;
        position: relative;
        z-index: 2;

        span {
          color: #0089cd;
          font-family: "DaciaSpirit-Bold";
          text-align: right;
          display: block;

          em {
            background: linear-gradient(to right, #f9af27 , #e3b062);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: block;
          }
        }
      }

      p {
        font-family: "DaciaSpirit-Regular";
        font-size: 18px;
        line-height: 21px;
        color: #606164;
        width: 100%;
        float: right;
        text-align: right;
        margin-top: 20px;
        position: relative;
        z-index: 2;

        span {
          width: 70%;
          text-align: right;
        }
      }

      a {
        &.btn-primary {
          float: right;
          margin-top: 60px;
          margin-bottom: 60px;
        }
      }
    }
  }


  #bodymovin{
    width:100%;
    height:100%;
    display:block;
    transform: translate3d(0,0,0);
    text-align: center;
    opacity: 1;
    position: relative;
    left: -18%;
    top: -95px;
    z-index: 1;
  }


  /* =============================================================================
      o   ANIMATE SCROLL
  ============================================================================= */
  .scroll-btn {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    text-align: center;
    z-index: 10;
  }
  .scroll-btn > * {
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #ffffff;
    letter-spacing: 2px;
  }

  .scroll-btn .mouse {
    position: relative;
    display: block;
    width: 25px;
    height: 45px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 23px;
  }
  .scroll-btn .mouse > * {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: white;
    border-radius: 50%;
    -webkit-animation: ani-mouse 2.5s linear infinite;
    -moz-animation: ani-mouse 2.5s linear infinite;
    animation: ani-mouse 2.5s linear infinite;
  }


  /* =============================================================================
    o   SECTION 2
============================================================================= */

  &.section2 {
    background: #137fc4 url(../images/section2-bg.jpg) no-repeat;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 80px;
    color: #ffffff;
    position: relative;

    .container {
      text-align: center;

      p {
        font-size: 25px;
        padding: 0 20px;
        margin-bottom: 40px;
      }

      h3 {
        font-family: "DaciaSpirit-Light";
        font-size: 50px;
        margin-bottom: 30px;

        strong {
          font-family: "DaciaSpirit-Bold";
        }
      }

      .duster-image2 {
        float: right;
      }

      .section-left {
        width: 50%;
        text-align: left;
        float: left;

        h4 {
          font-size: 50px;
          font-family: "DaciaSpirit-Light";
          margin-bottom: 10px;

          span {
            font-family: "DaciaSpirit-Bold";
            background: linear-gradient(to right, #f9af27, #e3b062);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }

        p {
          font-size: 14px;
          padding: 0;
          line-height: 20px;
          margin-bottom: 20px;
        }

        ul {
          li {
            font-size: 25px;
            padding-bottom: 10px;
            display: block;

            span {
              font-family: "DaciaSpirit-Bold";
              color: #ffb126;
            }
          }
        }

        h5 {
          font-size: 40px;
          line-height: 46px;
          margin-top: 10px;

          strong {
            font-family: "DaciaSpirit-Bold";
          }
        }
      }

      em {
        margin-bottom: 50px;
        margin-top: 10px;
        display: block;
      }

      .duster-image2 {
        position: absolute;
        right: -50px;
        top: 130px;
        z-index: 2;

        ul {
          position: absolute;
          top: 0;

          li {

            &:nth-of-type(1) {
              left: 235px;
              position: relative;
              top: 100px;
            }

            &:nth-of-type(2) {
              left: 235px;
              position: relative;
              top: 260px;
            }

            &:nth-of-type(3) {
              left: 450px;
              position: relative;
              top: 420px;
            }

            &:nth-of-type(4) {
              left: 235px;
              position: relative;
              top: 600px;
            }

            &:nth-of-type(5) {
              left: 20px;
              position: relative;
              top: 240px;
            }

            &:nth-of-type(6) {
              left: 235px;
              position: relative;
              top: 150px;
            }

            .tooltip {
              background: #ffffff;
              bottom: 100%;
              color: $primary-color-hover;
              font-size: 14px;
              display: block;
              left: -44px;
              margin-bottom: 15px;
              opacity: 0;
              padding: 20px;
              pointer-events: none;
              position: absolute;
              width: 200%;
              z-index: 10;
              -webkit-transform: translateY(10px);
              -moz-transform: translateY(10px);
              -ms-transform: translateY(10px);
              -o-transform: translateY(10px);
              transform: translateY(10px);
              -webkit-transition: all .25s ease-out;
              -moz-transition: all .25s ease-out;
              -ms-transition: all .25s ease-out;
              -o-transition: all .25s ease-out;
              transition: all .25s ease-out;
              -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
              -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
              -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
              -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
              box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);

              &:before {
                bottom: -20px;
                content: " ";
                display: block;
                height: 20px;
                left: 0;
                position: absolute;
                width: 100%;
              }

              &:after {
                border-left: solid transparent 10px;
                border-right: solid transparent 10px;
                border-top: solid #ffffff 10px;
                bottom: -10px;
                content: " ";
                height: 0;
                left: 50%;
                margin-left: -13px;
                position: absolute;
                width: 0;
              }
            }

            &:hover {
              .tooltip {
                opacity: 1;
                pointer-events: auto;
                -webkit-transform: translateY(0px);
                -moz-transform: translateY(0px);
                -ms-transform: translateY(0px);
                -o-transform: translateY(0px);
                transform: translateY(0px);
              }
            }
          }
        }
      }

      .m-hide-hotspots {
        display: none;
      }

      .btn-third {
        width: 370px;
        margin-top: 30px;
        display: block;
      }
    }
  }


  /* =============================================================================
      o   PULSE ANIMATION
  ============================================================================= */

  .duster-image2 ul li {
    height: 90px;
    position: relative;
    width: 90px;
  }

  .duster-image2 ul li img {
    border-radius: 200px;
    height: 90px;
    position: relative;
    width: 90px;
    z-index: 2;
  }

  @keyframes pulse {
    0%{
      transform: scale(0.5);
      opacity: 0;
    }
    50%{
      opacity: 0.1;
    }
    70%{
      opacity: 0.09;
    }
    100%{
      transform: scale(5);
      opacity: 0;
    }
  }

  .duster-image2 ul li::before{
    animation: pulse 2s linear infinite;
    border: #fff solid 5px;
    border-radius: 100px;
    box-sizing: border-box;
    content: ' ';
    height: 120%;
    left: -10%;
    opacity: .5;
    position: absolute;
    top: -10%;
    transform: scale(0.5);
    width: 120%;
    z-index: 1;
  }

  .duster-image2 ul li::after {
    animation-delay: 1s;
  }

  .duster-image2 ul li:hover::before,
  .duster-image2 ul li:hover::after {
    animation: pulse 5s linear infinite,  5s linear infinite;
  }

  .duster-image2 ul li:hover::after {
    animation-delay: .5s;
  }


  /* =============================================================================
      o   SECTION 3
  ============================================================================= */
  &.section3 {
    background: linear-gradient(to right, #f9af27, #e3b062);
    color: #ffffff;
    padding: 25px 0 50px 0;

    h3 {
      font-size: 50px;
      margin-bottom: 30px;

      strong {
        font-family: "DaciaSpirit-Bold";
      }
    }

    ul {
      li {
        width: 21%;
        display: inline-block;
        float: left;
        text-align: center;

        &:nth-of-type(2) {
          width: 23%;
        }

        p {
          font-size: 18px;
          line-height: 22px;
          text-align: center;
          padding: 0 10px;

          strong {
            font-family: "DaciaSpirit-Bold";
            font-size: 24px;
          }
        }

        img {
          margin-top: 35px;
          max-width: 160px;
        }

        &:nth-of-type(1) {
          img {
            margin-top: 25px;
            max-width: 190px;
          }
        }

        &:nth-of-type(3) {
          p{
            padding: 0 20px;
          }

          img {
            margin-top: 55px;
            max-width: 150px;
          }
        }
      }
    }

    .btn-primary {
      margin-top: 135px;
      margin-left: 105px;
    }
  }


  /* =============================================================================
    o   SECTION 4
============================================================================= */

  &.section4 {
    background: url(../images/dacia-duster-bg.jpg) no-repeat top right;
    background-size: cover;
    width: 100%;
    min-height: 520px;
    text-align: left;

    img {
      width: 100%;
    }

    .container {
      color: #ffffff;
      display: block;
      padding-top: 50px;

      h3 {
        font-family: "DaciaSpirit-Light";
        font-size: 50px;
        line-height: 50px;
      }

      h4 {
        font-family: "DaciaSpirit-Bold";
        font-size: 50px;
        line-height: 50px;
        color: $primary_color;
        margin-bottom: 25px;
      }

      h5 {
        font-family: "DaciaSpirit-Bold";
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 10px;
      }

      a {
        color: #13abfc;
        font-size: 18px;
        display: block;
        cursor: pointer;

        i {
          &.renault-button-arrow {
            position: relative;
            right: auto;
            left: 10px;
            border-color: #13abfc;
          }
        }
      }

      p {
        font-size: 14px;
        line-height: 18px;
        width: 60%;
        margin-bottom: 40px;
      }
    }
  }



/* =============================================================================
  o   SECTION 5
============================================================================= */
  &.section5 {
    padding: 60px 0 35px 0;
    color: #606164;

    .section-left {
      width: 55%;
      float: left;
      text-align: left;

      h3 {
        font-family: "DaciaSpirit-Light";
        font-size: 35px;
        line-height: 35px;
        color: #0b4a7e;
        margin-bottom: 20px;
      }

      ul {
        margin-bottom: 20px;

        h6 {
          color: $primary_color;
        }

      }

      p {
        font-size: 14px;
        width: 80%;
        display: inline-block;
        margin-bottom: 15px;
      }

      em {
        margin-top: 10px;
        display: inline-block;
        width: 95%;
      }

      a {
        color: #2495d1;
        font-size: 14px;
        display: block;
        cursor: pointer;

        i {
          &.renault-button-arrow {
            position: relative;
            right: auto;
            left: 10px;
            border-color: #2495d1;
          }
        }
      }
    }

    .section-right {
      width: 40%;
      float: left;
      margin-left: 2%;

      h3 {
        font-family: "DaciaSpirit-Light";
        font-size: 35px;
        line-height: 35px;
        color: #0b4a7e;
        margin-bottom: 10px;

        strong {
          font-family: "DaciaSpirit-Bold";
          color: #0089cd;
          display: block;
        }
      }

      h4 {
        font-family: "DaciaSpirit-Light";
        font-size: 20px;
        line-height: 20px;
        color: #0b4a7e;
        margin-bottom: 150px;
      }

      a {
        &.btn-forth {
          margin-top: 50px;
        }
      }

      form {
        margin-bottom: 20px;
        text-align: center;
        margin-top: 75px;
        margin-left: 60px;

        label {
          position: relative;
          padding: 0;

          &.checkbox {
            display: inline-block;
            width: calc(100% - 30px);

            input {
              display: inline-block;
              float: left;
              appearance: none;
              -webkit-appearance: none;
              -moz-appearance: none;
              width: 25px;
              height: 25px;
              cursor: pointer;
              background: #ffffff;
              border-radius: 3px;
              outline: none;
              border: 2px solid #dddada;

              &:checked:before {
                content: " ";
                position: absolute;
                width: 15px;
                height: 10px;
                top: 7px;
                left: 9px;
                background: transparent;
                border: 3px solid $secondary-color-dark;
                border-top: none;
                border-right: none;
                transform: rotate(-45deg);
                transition: opacity .3s;
              }
            }
          }
        }

        p {
          width: 85%;
          float: left;
          text-align: left;
          padding-left: 15px;
          font-size: 18px;
          color: $primary-color-hover;
        }
      }
    }
  }
}


/* =============================================================================
    o   RESPONSIVE
============================================================================= */

@media only screen and (max-width: 1500px) {
  .content-wrapper {
    #bodymovin {
      top: -80px;
    }
  }
}

@media only screen and (max-width: 1330px) {
  .content-wrapper.section2 .container .duster-image2 {
    right: -20px;
  }
}

@media only screen and (max-width: 1100px) {
  .content-wrapper{
    &.section3 {
      ul {
        li {
          img {
            width: 90%;
            padding: 0px 20px;
          }

          &:nth-of-type(1) {
            img {
              margin-top: 50px;
              width: 100%;
            }
          }
        }
      }

      .btn-primary {
        margin-left: 0;
        float: right;
      }
    }

    .container {
      &.section1 {
        h1{
          margin-top: 20px;
        }
        p {
          line-height: 24px;
        }

        #bodymovin {
          top: -50px;
        }
      }
    }
  }
}


@media only screen and (max-width: 1010px) {
  .content-wrapper {

    &.section2 {
      padding-bottom: 0;

      .container {
        .section-left {
          width: 100%;
        }

        .duster-image2 {
          position: static;
          float: none;

          ul {
            top: 800px;
          }

          img {
            width: 100%;
          }
        }
      }
    }

    &.section5 {
      .section-left {
        width: 100%;
        margin-bottom: 30px;

        em {
          margin-top: 30px;
        }
      }

      .section-right {
        width: 100%;
        margin-left: 0;
        text-align: center;

        h3 {
          text-align: center;
          margin-top: 30px;
          strong {
            display: inline-block;
          }
        }

        form {
          margin-left: 0;
          text-align: left;
        }

        .slider {
          display: block;
          margin: 0 auto;
        }

        #range {
          margin-left: 0;
        }
      }
    }
  }
}


@media only screen and (max-width: 968px) {

  .content-wrapper {
    .container {
      &.section1 {
        h1 {
          font-size: 150px;
          line-height: 160px;

          span {
            margin-top: -25px;
          }
        }
      }
    }


    &.section3 {
      h3 {
        font-size: 40px;
        line-height: 44px;
      }
    }

    &.section4 {
      .container {
        h3 {
          font-size: 40px;
          line-height: 44px;
        }

        h4 {
          font-size: 40px;
          line-height: 44px;
        }
      }
    }
  }
}


@media only screen and (max-width: 830px) {
  .content-wrapper {
    &.section2 {
      .container {
        .duster-image2 {
          ul {
            top: 850px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .content-wrapper {
    &.section2 {
      .container {
        .duster-image2 {
          ul {
            position: static;
            margin-bottom: 40px;

            li {
              display: inline-block;
              margin: 20px 5%;

              &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5), &:nth-of-type(6) {
                left: auto;
                top: auto;
              }
            }
          }
        }

        .hide-hotspots {
          display: none;
        }

        .m-hide-hotspots {
          display: block;
        }
      }
    }
  }
}


@media only screen and (max-width: 768px) {

  .content-wrapper {
    &.section3 {
      h3 {
        font-size: 35px;
        line-height: 37px;
      }
    }

    &.section4 {
      .container {

        h3 {
          font-size: 35px;
          line-height: 37px;
        }

        h4 {
          font-size: 30px;
          line-height: 34px;
        }

        p {
          width: 100%;
        }
      }
    }

    .container {
      &.section1 {
        #bodymovin {
          top: -20px;
        }

        h1 {
          font-size: 100px;
          line-height: 110px;
          margin-top: 100px;
        }

        p {
          span {
            width: 90%;
          }
        }

        a {
          &.btn-primary {
            margin-top: 40px;
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 720px) {
  .content-wrapper {
    &.section3 {
      .container {
        text-align: center;

        ul {
          li {
            width: 100%;
            margin-bottom: 30px;

            img {
              max-width: 190px;
              margin-top: 20px;
            }

            &:nth-of-type(1) {
              img {
                margin-top: 20px;
                max-width: 220px;
              }
            }

            &:nth-of-type(3) {
              img {
                margin-top: 20px;
                max-width: 190px;
              }
            }
          }
        }

        .btn-primary {
          margin-top: 20px;
          float: none;

        }
      }
    }
  }
}


@media only screen and (max-width: 615px) {
  .content-wrapper {
    .container {
      &.section1 {
        h1 {
          margin-top: 210px;
        }

        a {
          &.btn-primary {
            margin-bottom: 120px;
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 500px) {
  .content-wrapper {
    .container {
      &.section1 {
        h2 {
          width: 100%;
          text-align: center;
          font-size: 40px;
          line-height: 50px;

          span {
            text-align: center;
          }
        }

        p {
          width: 100%;
          text-align: left;

          span {
            text-align: left;
            width: 100%;
          }
        }

        h1 {
          font-size: 100px;
          line-height: 110px;

          span {
            margin-top: -20px;
            margin-right: 0;
          }
        }
      }
    }

    &.section2 {
      padding-top: 30px;

      .container {
        p {
          margin-bottom: 30px;
        }

        .section-left {
          ul {
            li{
              font-size: 20px;
              line-height: 22px;
            }
          }

          .btn-secondary {
            line-height: 20px;
            padding: 10px 50px;
            font-size: 14px;
          }
        }
      }
    }

    .scroll-btn {
      .mouse {
        display: none;
      }
    }

    &.section4 {
      .container {
        a {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }

    &.section5 {
      .section-left {
        width: 100%;
      }

      .section-right {
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 420px) {
  .btn-primary, .btn-secondary, .btn-third {
    width: 100%;
  }

  .content-wrapper.section2 .container p {
    font-size: 18px;
    line-height: 22px;
  }

  .slider.slider-horizontal {
    width: 220px;
  }

  .content-wrapper {
    &.section2 {
      .container {
        .btn-third {
          width: 100%;
        }

        h3 {
          font-size: 35px;
          line-height: 37px;
        }

        .section-left {
          text-align: center;

          .btn-secondary {
            height: auto;
            padding: 10px 20px;

            i {
              display: none;
            }
          }

          h4 {
            font-size: 22px;
            line-height: 24px;
            margin-bottom: 30px;
          }

          h5 {
            font-size: 22px;
            line-height: 24px;
          }
        }
      }
    }
  }

  .content-wrapper {
    &.section5 {
      padding-top: 40px;

      .section-left {
        h3 {
          font-size: 35px;
          line-height: 37px;
          margin-bottom: 30px;
        }

        .btn-secondary {
          line-height: 22px;
          padding: 10px 50px;
        }
      }

      .section-right {
        form  {
          p {
            width: 80%;
          }
        }

      }
    }
  }

  .content-wrapper {
    &.section4 {
      .container {
        padding: 30px 0;
      }
    }
  }

  .content-wrapper {
    .container {
      &.section1 {
        h1 {
          font-size: 80px;
          line-height: 90px;
          margin-top: 230px;

          span {
            margin-top: -20px;
            margin-right: 0;
          }
        }

        h2 {
          font-size: 35px;
          line-height: 37px;
        }
      }
    }

    .scroll-btn {
      bottom: -20px;
    }
  }
}

@media only screen and (max-width: 320px) {
  .content-wrapper {
    &.section5 {
      .section-right {
        .slider {
          width: 200px;
        }
      }
    }
  }
}