/* =============================================================================
    o   FOOTER
============================================================================= */


.footer{
    background: $secondary-color-dark;
    width: 100%;
    padding: 20px 0;

    ul {
        width: 25%;
        display: inline-block;
        vertical-align: top;
        float: left;
        margin-bottom: 25px;

        h6 {
            font-family: "DaciaSpirit-Bold";
            color: #ffffff;
            font-size: 18px;
            margin-bottom: 10px;
        }

        li {
            padding: 0 10px 0 0;
           a {
               color: #ffffff;
               font-size: 14px;

               i {
                   background: #ffffff;
                   border-radius: 50%;
                   padding: 10px;
                   font-size: 16px;
                   color: $secondary-color-dark;


                   &.fa-facebook {
                       padding: 10px 13px;
                       font-weight: bold;
                   }
               }
           }
        }

        &:nth-of-type(3) {
            width: 15%;

            li {
                display: inline-block;
            }
        }

        &:nth-of-type(4) {
            width: 35%;
            margin-top: 35px;

            li {
                display: inline-block;
                float: left;
                margin-right: 25px;
                padding: 0;

                &:nth-of-type(1) {
                    position: relative;
                    top: 10px;
                }
                &:nth-of-type(3) {
                    margin-right: 0;
                }
            }
        }
    }

    p {
        color: #ffffff;
        font-size: 14px;
        text-align: center;
    }
}


/* =============================================================================
    o   RESPONSIVE
============================================================================= */

@media only screen and (max-width: 1010px) {
    .footer {
        ul {
            &:nth-of-type(3) {
                width: 25%;
            }

            &:nth-of-type(4) {
                width: 25%;
                margin-top: 20px;

                li {
                    display: block;
                    margin: 10px 0px;
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .footer {
        ul {
            width: 50%;

            &:nth-of-type(3) {
                width: 50%;
            }

            &:nth-of-type(4) {
                width: 50%;

                li {
                    display: inline-block;
                    width: auto;
                    margin-right: 20px;

                    &:nth-of-type(3){
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .footer {
        ul {
            width: 100%;

            &:nth-of-type(3) {
                width: 100%;
            }

            &:nth-of-type(4) {
                width: 100%;

                li {
                    display: inline-block;
                    width: auto;
                }
            }
        }
    }
}