/* =============================================================================
    o   HEADER
============================================================================= */
#header {
    height: 74px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;	

    .header-wrapper {
        height: 100%;
        width: 100%;
    	margin: auto;
    	position: relative;
    	text-align: center;
		background: #fff;


    	.logo {
    		float: left;
    	}
    }
}


/* =============================================================================
    o   RESPONSIVE
============================================================================= */


@media only screen and (max-width: 768px) {

	#header {
		.header-wrapper {

			.logo {
				float: left;
			}
		}
	}
}


