/* =============================================================================
    o   VARIABLES
============================================================================= */

$bg_color: #fff;
$text_color: #606164;
$link_color: #0073ac;

$primary_color: #0089cd;
$primary-color-hover: #0b4a7e;

$secondary-color: #13abfc;
$secondary-color-darker: #0089cd;
$secondary-color-dark: #10314c;